
button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

button.blue {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}

button.blue:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

button.blue:active {
    box-shadow: inset 0 2px 5px #2370FE;   
}

.hero{
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url("./images/pic1.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero_content{
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;
}

.hero_content h1{
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero_content p{
    font-size: clamp(1rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
}

.button{
    
    padding: 1rem 3rem;
    text-decoration:none;
    border:none;
    background: var(--blue);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    border-radius: 4px;
}

.button:hover{
    background: var(--red);
    text-decoration:none;
}

.services {
    padding: 8rem calc((100vw - 1200px) / 2);
}

.services_cointainer{
    padding: 1rem;
}

.services_img{
    float: right;
    width: 100%;
    height: 100%;

}

.topline{
    color: var(--blue);
    text-transform: uppercase;
    font-weight:bold;
    margin-bottom: 0.5rem;
}

.services_heading {
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6v, 3rem);
}

.services_features{
    list-style: none;
}

.services_feature {
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.mddone{
    margin-right: 0.5rem;
    color: var(--blue);
}

.membership{
    background: #1c1b1a;
    color: white;
    padding: 6rem calc((100vw - 1100px) / 2 );
    text-align:center;
}

.membership h1{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 0 1rem;
    color: #106aec;
}

.membership_desc{
    margin-bottom: 3rem;
    font-size:clamp(1rem, 3vw, 1.5rem);
    padding: 1rem;
}

.membership_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.membership_card{
    padding: 2rem;
    min-height: 450px;
    width: 325px;
    background: var(--white);
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
}

.membership_perks{
    min-height: 150px;
}

.membership_card p{
    margin-bottom: 1rem;
}

.card-icon{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: blue;
}

.membership_card h3 {
    font-size: clamp(1rem, 5vw, 2rem);
}

.footer{
    background-color:#ffffff;
    margin:0px auto;
    padding: 5px 0px 5px 0px;
    
  }

  .form-button-submit-reset  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .form-button-submit-reset:hover  {
    background-color: #39ace7;
  }
  
  .form-button-submit-reset:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .text-password {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
 .text-password:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  .text-password::placeholder {
    color: black;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }

  #updateInformation{
    border-radius: 5%;
    background-color: rgba(124, 173, 194, 0.1);
  }


@media screen and (max-width: 1100px){
    .membership_wrapper{
        flex-direction: column;
        align-items: center;
    }

    .membership_card{
        width: 90%;
        margin-bottom: 2rem;
    }
}